* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.layout {
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
}

.sidebar {
    background-color: steelblue;
}

ul, li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.options {
    height: 300px;
    margin-top: 25px;
    display: grid;
    grid-template-rows: auto auto;
    align-content: space-between;
}

.profile {
    background-color: lightgrey;
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    background-color: whitesmoke;
    padding: 10px 40px;
}

.top {
    display: grid;
    grid-template-columns: 1fr auto;
}

.searchbar-container {
    max-width: 550px;
    display: grid;
    grid-template-columns: 25px minmax(150px, 1fr);
    gap: 7.5px;
    align-items: center;
}

.search-icon {
    width: 25px;
    height: auto;
    margin: 0;
}

#searchbar {
    height: 30px;
    padding: 15px;
    margin: 0;
    border: 0;
    border-radius: 15px;
    outline: none;
    background-color: lightgrey;
}

.account {
    width: auto;
    justify-self: right;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    gap: 15px
}

.notifications-icon {
    width: 25px;
    height: auto;
}

.top .profile-picture {
    border-radius: 50%;
    width: 50px;
    height: auto;
}

.bottom {
    margin-top: 25px;
    display: grid;
    grid-template-columns: min-content 250px auto;
    align-items: center;
    gap: 20px;
}

.bottom > .profile-picture {
    border-radius: 50%;
    width: 75px;
    height: auto;
}

.username {
    font-size: 25px;
    margin-top: 7.5px;
}

.buttons {
    width: 300px;
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 35px;
    gap: 25px;
}

.buttons button {
    border-radius: 15px;
    background-color: blue;
}

.main-content {
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 275px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    gap: 25px;
}

.project {
    padding: 15px;
    border-radius: 15px;
    background-color: whitesmoke;
}

.side-info {
    margin-left: 25px;
    align-self: start;
    display: grid;
    grid-template-rows: auto auto;
    gap: 15px;
}

.announcements-container, .trending-container {
    display: grid;
    grid-template-rows: auto 1fr;
}

.announcements {
    background-color: whitesmoke;
    padding: 15px;
    font-size: 12px;
    display: grid;
    grid-template-rows: auto auto auto;
}

.trending {
    background-color: whitesmoke;
    padding: 15px;
    font-size: 12px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.crop {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    align-items: center;
}

.trending-profile-picture {
    width: 50px;
    height: auto;
    margin-top: -25%;
}

.announcement-cell, .trending-cell {
    background-color: whitesmoke;
}

.announcement-cell {
    border-bottom: 1px solid grey;
    padding: 10px 0;
}

.trending-cell {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
}